h2 Launch Worker
form(method='post', action='/')
  fieldset
    legend Add Route
    P
      label Item
      input(name='user[Item]')
    P
      label Proxy
      input(name='user[Proxy]')
    P
    input(type='submit', value='Submit')
